<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence"
             version="2.0">
    <persistence-unit name="Kinderkankerfonds"
                      transaction-type="RESOURCE_LOCAL">
        <class>eu.maryns.romeo.kinderkankerfonds.entity.Persoon</class>
        <class>eu.maryns.romeo.kinderkankerfonds.entity.Adres</class>
        <class>eu.maryns.romeo.kinderkankerfonds.entity.AdresType</class>
        <class>eu.maryns.romeo.kinderkankerfonds.entity.Geslacht</class>
        <class>eu.maryns.romeo.kinderkankerfonds.entity.Relatie</class>
        <class>eu.maryns.romeo.kinderkankerfonds.entity.RelatieType</class>
        <class>eu.maryns.romeo.kinderkankerfonds.entity.Categorie</class>
        <class>eu.maryns.romeo.kinderkankerfonds.entity.Ziekenhuis</class>
        <class>eu.maryns.romeo.kinderkankerfonds.entity.ContactInfo</class>
        <class>eu.maryns.romeo.kinderkankerfonds.entity.Notitie</class>
        <class>eu.maryns.romeo.kinderkankerfonds.entity.Land</class>
        <class>eu.maryns.romeo.kinderkankerfonds.entity.Afspraak</class>
        <class>eu.maryns.romeo.kinderkankerfonds.entity.Afdeling</class>
        <class>eu.maryns.romeo.kinderkankerfonds.entity.StandardClientEntity</class>
        <class>eu.maryns.romeo.kinderkankerfonds.entity.KalenderKleur</class>
    </persistence-unit>
</persistence>
