<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence"
             version="2.0">
    <persistence-unit name="Kinderkankerfonds"
                      transaction-type="RESOURCE_LOCAL">
        <class>eu.maryns.romeo.kinderkankerfonds.entity.Persoon</class>
        <class>eu.maryns.romeo.kinderkankerfonds.entity.Adres</class>
        <class>eu.maryns.romeo.kinderkankerfonds.entity.AdresType</class>
    </persistence-unit>
</persistence>
